
html{
  scroll-behavior: smooth;
}
body{
  font-family: 'Montserrat', sans-serif;

}
.uk-card-badge {
  background-color: #1e87f0;
  position: absolute;
  top: 5px;
  right: -2px;
  z-index: 1;
  text-transform: none;
  font-size: 12px;
}
.uk-badge{
  background-color: rgba(128, 128, 128, 0.493);
  text-transform: none;
  font-size: 12px;
}
.uk-card-footer{
  padding:10px;
}
.exp-card{
  min-width: 400px;
}

/* Should be attached */
